.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  font-family: "Chilanka", cursive;
  text-align: center;
  font-weight: 300;
  margin: 20px 0px;
}

#todos-list {
  width: 35vw;
  min-width: 300px;
  position: relative;
  z-index: 2;
}

#todos-list:before,
#todos-list:after {
  content: "";
  border: 1px solid #e5e5e5;
  border-top: none;
  position: absolute;
  height: 100%;
  z-index: -1;
  border-radius: 2px;
  background-color: #ffffff;
}

#todos-list:before {
  top: 5px;
  left: 6px;
  right: 6px;
}

#todos-list:after {
  top: 2px;
  left: 3px;
  right: 3px;
}

section {
  border: 1px solid #e5e5e5;
  z-index: 3;
  background-color: #ffffff;
}

.header {
  border-radius: 2px 2px 0px 0px;
  border-width: 1px 1px 0px;
}

.footer {
  border-radius: 0px 0px 2px 2px;
  border-width: 0px 1px 1px;
}

.footer .row {
  justify-content: center;
}

.row {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.todo {
  cursor: pointer;
  line-height: 1.2em;
}

.todo.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.todo:not(:nth-child(1)) {
  border: 1px solid #f5f5f5;
  border-width: 1px 0px 0px;
}

.todos {
  min-height: 3em;
  height: fit-content;
}

button.filter:disabled {
  border-color: #0197f6;
  background-color: #0197f6;
  color: #ffffff;
}

form {
  flex-grow: 2;
}

@media screen and (max-width: 600px) {
  #todos-list {
    width: 90%;
  }
}
